*.py[co]
*.sw?
*~
doc/build/*
dist
build
cover
ChangeLog
.coverage
*.egg
*.egg-info
.eggs/*
.DS_Store
.tox
pycscope.*
.idea
MANIFEST

.testrepository/*
.stestr/*
.noseids
subunit.log
test/probe/.noseids
RELEASENOTES.rst
releasenotes/notes/reno.cache
/tools/playbooks/**/*.retry
