Greg Holt <gholt@rackspace.com> gholt <gholt@brim.net>
Greg Holt <gholt@rackspace.com> gholt <devnull@brim.net>
Greg Holt <gholt@rackspace.com> gholt <z-github@brim.net>
Greg Holt <gholt@rackspace.com> gholt <z-launchpad@brim.net>
Greg Holt <gholt@rackspace.com> <gregory.holt+launchpad.net@gmail.com>
Greg Holt <gholt@rackspace.com>
John Dickinson <me@not.mn> <john.dickinson@rackspace.com>
Michael Barton <mike@weirdlooking.com> <michael.barton@rackspace.com>
Michael Barton <mike@weirdlooking.com> <mike-launchpad@weirdlooking.com>
Michael Barton <mike@weirdlooking.com> Mike Barton
Clay Gerrard <clay.gerrard@gmail.com> <clayg@clayg-desktop>
Clay Gerrard <clay.gerrard@gmail.com> <clay.gerrard@rackspace.com>
Clay Gerrard <clay.gerrard@gmail.com> <clay@swiftstack.com>
Clay Gerrard <clay.gerrard@gmail.com> clayg <clay.gerrard@gmail.com>
David Goetz <david.goetz@rackspace.com> <david.goetz@gmail.com>
David Goetz <david.goetz@rackspace.com> <dpgoetz@gmail.com>
Anne Gentle <anne@openstack.org> <anne.gentle@rackspace.com>
Anne Gentle <anne@openstack.org> annegentle
Fujita Tomonori <fujita.tomonori@lab.ntt.co.jp>
Greg Lange <greglange@gmail.com> <glange@rackspace.com>
Greg Lange <greglange@gmail.com> <greglange+launchpad@gmail.com>
Chmouel Boudjnah <chmouel@enovance.com> <chmouel@chmouel.com>
Gaurav B. Gangalwar <gaurav@gluster.com> gaurav@gluster.com <>
Joe Arnold <joe@swiftstack.com> <joe@cloudscaling.com>
Kapil Thangavelu <kapil.foss@gmail.com> kapil.foss@gmail.com <>
Samuel Merritt <sam@swiftstack.com> <spam@andcheese.org>
Morita Kazutaka <morita.kazutaka@gmail.com>
Zhongyue Luo <zhongyue.nah@intel.com> <lzyeval@gmail.com>
Russ Nelson <russ@crynwr.com> <nelson@nelson-laptop>
Marcelo Martins <btorch@gmail.com> <marcelo.martins@rackspace.com>
Andrew Clay Shafer <acs@parvuscaptus.com> <andrew@cloudscaling.com>
Soren Hansen <soren@linux2go.dk> <soren.hansen@rackspace.com>
Soren Hansen <soren@linux2go.dk> <sorhanse@cisco.com>
Ye Jia Xu <xyj.asmy@gmail.com> monsterxx03 <xyj.asmy@gmail.com>
Victor Rodionov <victor.rodionov@nexenta.com> <vito.ordaz@gmail.com>
Florian Hines <syn@ronin.io> <florian.hines@gmail.com>
Jay Payne <letterj@gmail.com> <letterj@racklabs.com>
Doug Weimer <dweimer@gmail.com> <dougw@sdsc.edu>
Li Riqiang <lrqrun@gmail.com> lrqrun <lrqrun@gmail.com>
Cory Wright <cory.wright@rackspace.com> <corywright@gmail.com>
Julien Danjou <julien@danjou.info> <julien.danjou@enovance.com>
David Hadas <davidh@il.ibm.com> <david.hadas@gmail.com>
Yaguang Wang <yaguang.wang@intel.com> ywang19 <yaguang.wang@intel.com>
Liu Siqi <meizu647@gmail.com> dk647 <meizu647@gmail.com>
James E. Blair <jeblair@openstack.org> <james.blair@rackspace.com>
James E. Blair <jeblair@openstack.org> <jeblair@redhat.com>
Kun Huang <gareth@unitedstack.com> <academicgareth@gmail.com>
Michael Shuler <mshuler@gmail.com> <mshuler@rackspace.com>
Ilya Kharin <ikharin@mirantis.com> <akscram@gmail.com>
Dmitry Ukov <dukov@mirantis.com> Ukov Dmitry <dukov@mirantis.com>
Tom Fifield <tom@openstack.org> Tom Fifield <fifieldt@unimelb.edu.au>
Sascha Peilicke <saschpe@gmx.de> Sascha Peilicke <saschpe@suse.de>
Zhenguo Niu <zhenguo@unitedstack.com> <Niu.ZGlinux@gmail.com>
Peter Portante <peter.portante@redhat.com> <peter.a.portante@gmail.com>
Christian Schwede <cschwede@redhat.com> <info@cschwede.de>
Christian Schwede <cschwede@redhat.com> <christian.schwede@enovance.com>
Constantine Peresypkin <constantine.peresypk@rackspace.com> <constantine@litestack.com>
Madhuri Kumari <madhuri.rai07@gmail.com> madhuri <madhuri@madhuri-VirtualBox.(none)>
Morgan Fainberg <morgan.fainberg@gmail.com> <m@metacloud.com>
Hua Zhang <zhuadl@cn.ibm.com> <zhuadl@cn.ibm.com>
Yummy Bian <yummy.bian@gmail.com> <yummy.bian@gmail.com>
Alistair Coles <alistairncoles@gmail.com> <alistair.coles@hpe.com>
Alistair Coles <alistairncoles@gmail.com> <alistair.coles@hp.com>
Tong Li <litong01@us.ibm.com> <litong01@us.ibm.com>
Paul Luse <paul.e.luse@intel.com> <paul.e.luse@intel.com>
Yuan Zhou <yuan.zhou@intel.com> <yuan.zhou@intel.com>
Jola Mirecka <jola.mirecka@hp.com> <jola.mirecka@hp.com>
Ning Zhang <ning@zmanda.com> <ning@zmanda.com>
Mauro Stettler <mauro.stettler@gmail.com> <mauro.stettler@gmail.com>
Pawel Palucki <pawel.palucki@gmail.com> <pawel.palucki@gmail.com>
Guang Yee <guang.yee@hpe.com> <guang.yee@hp.com>
Jing Liuqing <jing.liuqing@99cloud.net> <jing.liuqing@99cloud.net>
Lorcan Browne <lorcan.browne@hpe.com> <lorcan.browne@hp.com>
Eohyung Lee <liquidnuker@gmail.com> <liquid@kt.com>
Harshit Chitalia <harshit@acelio.com> <harshit@acelio.com>
Richard Hawkins <richard.hawkins@rackspace.com>
Sarvesh Ranjan <saranjan@cisco.com>
Minwoo Bae <minwoob@us.ibm.com> Minwoo B
Jaivish Kothari <jaivish.kothari@nectechnologies.in> <janonymous.codevulture@gmail.com>
Michael Matur <michael.matur@gmail.com>
Kazuhiro Miyahara <miyahara.kazuhiro@lab.ntt.co.jp>
Alexandra Settle <asettle@suse.com> <alexandra.settle@rackspace.com>
Kenichiro Matsuda <matsuda_kenichi@jp.fujitsu.com>
Atsushi Sakai <sakaia@jp.fujitsu.com>
Takashi Natsume <natsume.takashi@lab.ntt.co.jp>
Nakagawa Masaaki <nakagawamsa@nttdata.co.jp> nakagawamsa
Romain Le Disez <romain.ledisez@ovh.net> Romain LE DISEZ
Romain Le Disez <romain.ledisez@ovh.net> <romain.le-disez@corp.ovh.com>
Donagh McCabe <donagh.mccabe@gmail.com> <donagh.mccabe@hpe.com>
Donagh McCabe <donagh.mccabe@gmail.com> <donagh.mccabe@hp.com>
Eamonn O'Toole <eamonn.otoole@hpe.com> <eamonn.otoole@hp.com>
Gerry Drudy <gerry.drudy@hpe.com> <gerry.drudy@hp.com>
Mark Seger <mark.seger@hpe.com> <mark.seger@hp.com>
Timur Alperovich <timur.alperovich@gmail.com> <timuralp@swiftstack.com>
Mehdi Abaakouk <sileht@redhat.com> <mehdi.abaakouk@enovance.com>
Richard Hawkins <richard.hawkins@rackspace.com> <hurricanerix@gmail.com>
Ondrej Novy <ondrej.novy@firma.seznam.cz>
Ondrej Novy <ondrej.novy@firma.seznam.cz> <novy@ondrej.org>
Peter Lisák <peter.lisak@gmail.com> <peter.lisak@firma.seznam.cz>
Peter Lisák <peter.lisak@gmail.com> Peter Lisák <peter.lisak@firma.seznam.cz>
Ke Liang <ke.liang@easystack.cn>
Daisuke Morita <morita.daisuke@ntti3.com> <morita.daisuke@lab.ntt.co.jp>
Andreas Jaeger <aj@suse.de> <aj@suse.com>
Hugo Kuo <tonytkdk@gmail.com>
Gage Hugo <gh159m@att.com>
Oshrit Feder <oshritf@il.ibm.com> <OSHRITF@il.ibm.com>
Larry Rensing <lr699s@att.com>
Ben Keller <bjkeller@us.ibm.com>
Chaozhe Chen <chaozhe.chen@easystack.cn>
Brian Cline <bcline@softlayer.com> <bcline@us.ibm.com>
Brian Cline <bcline@softlayer.com> <brian.cline@gmail.com>
Dharmendra Kushwaha <dharmendra.kushwaha@nectechnologies.in>
Zhang Guoqing <zhang.guoqing@99cloud.net>
Kato Tomoyuki <kato.tomoyuki@jp.fujitsu.com>
Liang Jingtao <liang.jingtao@zte.com.cn>
Yu Yafei <yu.yafei@zte.com.cn>
Zheng Yao <zheng.yao1@zte.com.cn>
Paul Dardeau <paul.dardeau@intel.com> <pauldardeau@gmail.com>
Cheng Li <shcli@cn.ibm.com>
Nandini Tata <nandini.tata@intel.com> <nandini.tata.15@gmail.com>
Flavio Percoco <flaper87@gmail.com>
Tin Lam <tinlam@gmail.com> <tl3438@att.com>
Hisashi Osanai <osanai.hisashi@gmail.com> <osanai.hisashi@jp.fujitsu.com>
Bryan Keller <kellerbr@us.ibm.com>
Doug Hellmann <doug@doughellmann.com> <doug.hellmann@dreamhost.com>
zhangdebo1987 <zhangdebo@inspur.com> zhangdebo
Thomas Goirand <thomas@goirand.fr> <zigo@debian.org>
Thiago da Silva <thiagodasilva@gmail.com> <thiago@redhat.com>
