# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes==0.7.2
flake8==2.0
hacking>=0.5.6,<0.6
coverage
nose
nosexcover
openstack.nose_plugin
nosehtmloutput
sphinx>=1.1.2
mock>=0.8.0
