Source: swift
Section: net
Priority: optional
Maintainer: Michael Barton <michael.barton@rackspace.com>
Build-Depends: debhelper (>> 3.0.0), python (>= 2.6)
Standards-Version: 3.7.2

Package: swift
Architecture: all
Depends: python (>= 2.6), python-openssl, python-webob (>= 0.9.7.1~hg20100111-1~racklabs1), python-simplejson, python-xattr, net-tools, python-eventlet (>= 0.9.8pre1-7)
Description: Swift, a distributed virtual object store (common files)
 Swift, a distributed virtual object store.
 .
  Homepage: https://swift.racklabs.com/trac

Package: swift-proxy
Architecture: all
Depends: swift (=${Source-Version})
Description: The swift proxy server.
 The swift proxy server.
 .
  Homepage: https://swift.racklabs.com/trac

Package: swift-object
Architecture: all
Depends: swift (=${Source-Version})
Description: The swift object server.
 The swift object server.
 .
  Homepage: https://swift.racklabs.com/trac

Package: swift-container
Architecture: all
Depends: swift (=${Source-Version})
Description: The swift container server.
 The swift container server.
 .
  Homepage: https://swift.racklabs.com/trac

Package: swift-account
Architecture: all
Depends: swift (=${Source-Version})
Description: The swift account server.
 The swift account server.
 .
  Homepage: https://swift.racklabs.com/trac

Package: swift-auth
Architecture: all
Depends: swift (=${Source-Version})
Description: The swift auth server.
 The swift auth server.
 .
  Homepage: https://swift.racklabs.com/trac
