#!/usr/bin/make -f

# Verbose mode
export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pysupport

PYTHON = "/usr/bin/python"

build:
	dh build

clean:
	dh clean
	find . -name "*\.pyc" -delete

install: build
	dh install


binary-arch: install
	dh binary-arch

binary-indep: install
	dh_installinit --no-start
	dh_installinit --no-start -pswift-container --init-script=swift-container-replicator
	dh_installinit --no-start -pswift-account --init-script=swift-account-replicator
	dh_installinit --no-start -pswift-account --init-script=swift-account-reaper
	dh_installinit --no-start -pswift-object --init-script=swift-object-auditor
	dh_installinit --no-start -pswift-container --init-script=swift-container-auditor
	dh_installinit --no-start -pswift-account --init-script=swift-account-auditor
	dh_installinit --no-start -pswift-object --init-script=swift-object-updater
	dh_installinit --no-start -pswift-object --init-script=swift-object-replicator
	dh_installinit --no-start -pswift-container --init-script=swift-container-updater
	dh binary-indep

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary clean
