#!/usr/bin/make -f

# Verbose mode
export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pysupport

PYTHON = "/usr/bin/python"

build:
	dh build

clean:
	dh clean
	find . -name "*\.pyc" -delete

install: build
	dh install
	mkdir -p $(CURDIR)/debian/swift/etc/swift
	mkdir -p $(CURDIR)/debian/swift/usr/bin

	# Copy files into binary package directories
	install -m 755 $(CURDIR)/bin/swift-init.py \
		$(CURDIR)/debian/swift/usr/bin/swift-init
	install -m 755 $(CURDIR)/bin/swift-ring-builder.py \
		$(CURDIR)/debian/swift/usr/bin/swift-ring-builder
	install -m 755 $(CURDIR)/bin/swift-get-nodes.py \
		$(CURDIR)/debian/swift/usr/bin/swift-get-nodes
	install -m 755 $(CURDIR)/bin/swift-stats-populate.py \
		$(CURDIR)/debian/swift/usr/bin/swift-stats-populate
	install -m 755 $(CURDIR)/bin/swift-stats-report.py \
		$(CURDIR)/debian/swift/usr/bin/swift-stats-report
	install -m 644 $(CURDIR)/etc/stats.conf-sample \
		$(CURDIR)/debian/swift/etc/swift
	install -m 755 $(CURDIR)/bin/swift-account-audit.py \
		$(CURDIR)/debian/swift/usr/bin/swift-account-audit
	install -m 755 $(CURDIR)/bin/st.py \
		$(CURDIR)/debian/swift/usr/bin/st

	# drive-audit
	install -m 644 $(CURDIR)/etc/drive-audit.conf-sample \
		$(CURDIR)/debian/swift-object/etc/swift
	install -m 755 $(CURDIR)/bin/swift-drive-audit.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-drive-audit

	# swift-object
	install -m 644 $(CURDIR)/etc/object-server.conf-sample \
		$(CURDIR)/debian/swift-object/etc/swift
	install -m 755 $(CURDIR)/bin/swift-object-server.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-object-server
	install -m 755 $(CURDIR)/bin/swift-object-replicator.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-object-replicator
	install -m 644 $(CURDIR)/etc/rsyncd.conf-sample \
                $(CURDIR)/debian/swift-object/etc/swift
	install -m 755 $(CURDIR)/bin/swift-object-auditor.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-object-auditor
	install -m 755 $(CURDIR)/bin/swift-object-updater.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-object-updater
	install -m 755 $(CURDIR)/bin/swift-object-info.py \
		$(CURDIR)/debian/swift-object/usr/bin/swift-object-info

	# swift-proxy
	install -m 644 $(CURDIR)/etc/proxy-server.conf-sample \
		$(CURDIR)/debian/swift-proxy/etc/swift
	install -m 755 $(CURDIR)/bin/swift-proxy-server.py \
		$(CURDIR)/debian/swift-proxy/usr/bin/swift-proxy-server

	# swift-container
	install -m 644 $(CURDIR)/etc/container-server.conf-sample \
		$(CURDIR)/debian/swift-container/etc/swift
	install -m 755 $(CURDIR)/bin/swift-container-server.py \
		$(CURDIR)/debian/swift-container/usr/bin/swift-container-server
	install -m 755 $(CURDIR)/bin/swift-container-replicator.py \
		$(CURDIR)/debian/swift-container/usr/bin/swift-container-replicator
	install -m 755 $(CURDIR)/bin/swift-container-auditor.py \
		$(CURDIR)/debian/swift-container/usr/bin/swift-container-auditor
	install -m 755 $(CURDIR)/bin/swift-container-updater.py \
		$(CURDIR)/debian/swift-container/usr/bin/swift-container-updater

	# swift-account
	install -m 644 $(CURDIR)/etc/account-server.conf-sample \
		$(CURDIR)/debian/swift-account/etc/swift
	install -m 755 $(CURDIR)/bin/swift-account-server.py \
		$(CURDIR)/debian/swift-account/usr/bin/swift-account-server
	install -m 755 $(CURDIR)/bin/swift-account-replicator.py \
		$(CURDIR)/debian/swift-account/usr/bin/swift-account-replicator
	install -m 755 $(CURDIR)/bin/swift-account-auditor.py \
		$(CURDIR)/debian/swift-account/usr/bin/swift-account-auditor
	install -m 755 $(CURDIR)/bin/swift-account-reaper.py \
		$(CURDIR)/debian/swift-account/usr/bin/swift-account-reaper

	# swift-auth
	install -m 644 $(CURDIR)/etc/auth-server.conf-sample \
		$(CURDIR)/debian/swift-auth/etc/swift
	install -m 755 $(CURDIR)/bin/swift-auth-server.py \
		$(CURDIR)/debian/swift-auth/usr/bin/swift-auth-server
	install -m 755 $(CURDIR)/bin/swift-auth-create-account.py \
		$(CURDIR)/debian/swift-auth/usr/bin/swift-auth-create-account
	install -m 755 $(CURDIR)/bin/swift-auth-recreate-accounts.py \
		$(CURDIR)/debian/swift-auth/usr/bin/swift-auth-recreate-accounts


binary-arch: install
	dh binary-arch

binary-indep: install
	dh_installinit --no-start
	dh_installinit --no-start -pswift-container --init-script=swift-container-replicator
	dh_installinit --no-start -pswift-account --init-script=swift-account-replicator
	dh_installinit --no-start -pswift-account --init-script=swift-account-reaper
	dh_installinit --no-start -pswift-object --init-script=swift-object-auditor
	dh_installinit --no-start -pswift-container --init-script=swift-container-auditor
	dh_installinit --no-start -pswift-account --init-script=swift-account-auditor
	dh_installinit --no-start -pswift-object --init-script=swift-object-updater
	dh_installinit --no-start -pswift-object --init-script=swift-object-replicator
	dh_installinit --no-start -pswift-container --init-script=swift-container-updater
	dh binary-indep

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary clean
