include AUTHORS LICENSE .unittests
include CHANGELOG README.md
include tox.ini
include requirements.txt test-requirements.txt
graft doc
graft etc
recursive-include swift3/schema *.rng
recursive-include swift3/test *.py
recursive-include swift3/test/functional/conf *.conf.in *.ini *.json
include swift3/test/functional/setup_keystone
include swift3/test/functional/swift3.config
include swift3/test/functional/run_test.sh
