hacking>=0.12.0,!=0.13.0,<0.14  # Apache-2.0
sphinx
nose
openstack.nose_plugin
coverage
mock
pylint
python-openstackclient
boto
requests-mock>=0.7.0 # Apache-2.0
fixtures<2.0,>=1.3.1 # Apache-2.0/BSD
keystonemiddleware
